RecipesSearch/RecipesSearch.WebApplication/Service References/BuilderService/BuilderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BuilderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10310/BuilderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10310/BuilderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10310/BuilderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RecipesSearch.SearchEngine.Clusters.Base" />
      <xsd:import schemaLocation="http://localhost:10310/BuilderService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RecipesSearch.Data.Views" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBuilderService_BuildTf_InputMessage">
    <wsdl:part name="parameters" element="tns:BuildTf" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_BuildTf_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuildTfResponse" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_StopTfBuild_InputMessage">
    <wsdl:part name="parameters" element="tns:StopTfBuild" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_StopTfBuild_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopTfBuildResponse" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_BuildTfIdf_InputMessage">
    <wsdl:part name="parameters" element="tns:BuildTfIdf" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_BuildTfIdf_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuildTfIdfResponse" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_StopTfIdfBuild_InputMessage">
    <wsdl:part name="parameters" element="tns:StopTfIdfBuild" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_StopTfIdfBuild_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopTfIdfBuildResponse" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_BuildIdf_InputMessage">
    <wsdl:part name="parameters" element="tns:BuildIdf" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_BuildIdf_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuildIdfResponse" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_BuildSimilarResults_InputMessage">
    <wsdl:part name="parameters" element="tns:BuildSimilarResults" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_BuildSimilarResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuildSimilarResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_StopSimilarResultsBuild_InputMessage">
    <wsdl:part name="parameters" element="tns:StopSimilarResultsBuild" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_StopSimilarResultsBuild_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopSimilarResultsBuildResponse" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_BuildClusters_InputMessage">
    <wsdl:part name="parameters" element="tns:BuildClusters" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_BuildClusters_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuildClustersResponse" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_StopClustersBuild_InputMessage">
    <wsdl:part name="parameters" element="tns:StopClustersBuild" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_StopClustersBuild_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopClustersBuildResponse" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_BuildAllTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:BuildAllTasks" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_BuildAllTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuildAllTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_StopAllTasksUpdating_InputMessage">
    <wsdl:part name="parameters" element="tns:StopAllTasksUpdating" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_StopAllTasksUpdating_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopAllTasksUpdatingResponse" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_GetBuildersState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildersState" />
  </wsdl:message>
  <wsdl:message name="IBuilderService_GetBuildersState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildersStateResponse" />
  </wsdl:message>
  <wsdl:portType name="IBuilderService">
    <wsdl:operation name="BuildTf">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuilderService/BuildTf" message="tns:IBuilderService_BuildTf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuilderService/BuildTfResponse" message="tns:IBuilderService_BuildTf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopTfBuild">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuilderService/StopTfBuild" message="tns:IBuilderService_StopTfBuild_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuilderService/StopTfBuildResponse" message="tns:IBuilderService_StopTfBuild_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuildTfIdf">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuilderService/BuildTfIdf" message="tns:IBuilderService_BuildTfIdf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuilderService/BuildTfIdfResponse" message="tns:IBuilderService_BuildTfIdf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopTfIdfBuild">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuilderService/StopTfIdfBuild" message="tns:IBuilderService_StopTfIdfBuild_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuilderService/StopTfIdfBuildResponse" message="tns:IBuilderService_StopTfIdfBuild_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuildIdf">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuilderService/BuildIdf" message="tns:IBuilderService_BuildIdf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuilderService/BuildIdfResponse" message="tns:IBuilderService_BuildIdf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuildSimilarResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuilderService/BuildSimilarResults" message="tns:IBuilderService_BuildSimilarResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuilderService/BuildSimilarResultsResponse" message="tns:IBuilderService_BuildSimilarResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopSimilarResultsBuild">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuilderService/StopSimilarResultsBuild" message="tns:IBuilderService_StopSimilarResultsBuild_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuilderService/StopSimilarResultsBuildResponse" message="tns:IBuilderService_StopSimilarResultsBuild_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuildClusters">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuilderService/BuildClusters" message="tns:IBuilderService_BuildClusters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuilderService/BuildClustersResponse" message="tns:IBuilderService_BuildClusters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopClustersBuild">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuilderService/StopClustersBuild" message="tns:IBuilderService_StopClustersBuild_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuilderService/StopClustersBuildResponse" message="tns:IBuilderService_StopClustersBuild_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuildAllTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuilderService/BuildAllTasks" message="tns:IBuilderService_BuildAllTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuilderService/BuildAllTasksResponse" message="tns:IBuilderService_BuildAllTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopAllTasksUpdating">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuilderService/StopAllTasksUpdating" message="tns:IBuilderService_StopAllTasksUpdating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuilderService/StopAllTasksUpdatingResponse" message="tns:IBuilderService_StopAllTasksUpdating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildersState">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuilderService/GetBuildersState" message="tns:IBuilderService_GetBuildersState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuilderService/GetBuildersStateResponse" message="tns:IBuilderService_GetBuildersState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBuilderService" type="tns:IBuilderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuildTf">
      <soap:operation soapAction="http://tempuri.org/IBuilderService/BuildTf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTfBuild">
      <soap:operation soapAction="http://tempuri.org/IBuilderService/StopTfBuild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildTfIdf">
      <soap:operation soapAction="http://tempuri.org/IBuilderService/BuildTfIdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTfIdfBuild">
      <soap:operation soapAction="http://tempuri.org/IBuilderService/StopTfIdfBuild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildIdf">
      <soap:operation soapAction="http://tempuri.org/IBuilderService/BuildIdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildSimilarResults">
      <soap:operation soapAction="http://tempuri.org/IBuilderService/BuildSimilarResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopSimilarResultsBuild">
      <soap:operation soapAction="http://tempuri.org/IBuilderService/StopSimilarResultsBuild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildClusters">
      <soap:operation soapAction="http://tempuri.org/IBuilderService/BuildClusters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopClustersBuild">
      <soap:operation soapAction="http://tempuri.org/IBuilderService/StopClustersBuild" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildAllTasks">
      <soap:operation soapAction="http://tempuri.org/IBuilderService/BuildAllTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopAllTasksUpdating">
      <soap:operation soapAction="http://tempuri.org/IBuilderService/StopAllTasksUpdating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildersState">
      <soap:operation soapAction="http://tempuri.org/IBuilderService/GetBuildersState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BuilderService">
    <wsdl:port name="BasicHttpBinding_IBuilderService" binding="tns:BasicHttpBinding_IBuilderService">
      <soap:address location="http://localhost:10310/BuilderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>