RecipesSearch/RecipesSearch.WebApplication/Service References/ImporterService/ImporterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RecipesSearch.Data.Models.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RecipesSearch.Data.Models.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
</xs:schema>